@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-color: #09090b;
  /* This prevents the layout jump when switching pages */
  overflow-y: scroll; 
}

body {
  background-color: #09090b;
  color: white;
  overscroll-behavior-y: none;
  margin: 0;
}

#root {
  background-color: #09090b;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
